<%= form_for [@user, @delivery] do |f| %>
<% if @delivery.errors.any? %>
<h3><%= @delivery.errors.count %>個のエラーがあります。</h3>
<% @delivery.errors.full_messages.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
<% end %>
<% end %>

<div class="container delivery-page">
  <h4 class="row ml-5  d-inline order-title">配送先登録/一覧</h4>
  <div class="row mt-3 mb-2">
    <div class="col-md-3">
      <span>郵便番号（ハイフンなし）</span>
    </div>
    <div class="col-md-2">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <span>住所</span>
    </div>
    <div class="col-md-4">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <span>宛名</span>
    </div>
    <div class="col-md-2">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="col-md-4 offset-3">
      <%= f.submit "登録する", class: "btn do-btn pr-5 pl-5" %>
    </div>
  </div>
  </tr>
</div>
<% end %>

<div class="container mb-4  delivery-page">
  <div class="row">
  <div class="col-md-10">
    <table class="table table-bordered">
      <thead class="bg-light">
        <th class="py-3 pr-3">郵便番号</th>
        <th class="py-3 pr-3">住所</th>
        <th class="py-3 pr-3">宛名</th>
        <th class="py-3 pr-3"></th>
      </thead>

      <%  @user.deliveries.each do |f| %>
      <tr>
        <td class="py-3 pr-3"><%= f.postal_code %></td>
        <td class="py-3 pr-3"><%= f.address %></td>
        <td class="py-3 pr-3"><%= f.name %></td>
        <td class="p-3"><%= link_to '編集する', edit_user_delivery_path(f.user_id,f.id), class: "btn db-btn ml-5" %><%= link_to '削除する', user_delivery_path(f.user_id,f.id), method: :delete, class: "btn dd-btn ml-5"%></td>
      </tr>
      <% end %>
    </table>
    </div>
  </div>