<div class="container my-5">
  <div class="row">
    <div class="col-sm-4">
      <h2>配送先を追加</h2>
    </div>
  </div>

      <div class="row justify-content-center mt-5">
        <div class="col-sm-7">
      	<%= form_for(@address_new) do |f| %>
          <div class="form-group row">
            <%= f.label :郵便番号, class: "col-sm-3" %>
        		<%= f.text_field :post_code, class: "form-control col-4", placeholder: "ハイフンなし" %>
          </div>

          <div class="form-group row">
            <%= f.label :住所, class: "col-sm-3" %>
        		<%= f.text_field :address, class: "form-control col-8" %>
          </div>

          <div class="form-group row">
            <%= f.label :宛名, class: "col-sm-3" %>
        		<%= f.text_field :l_name, class: "form-control col-2", placeholder: "姓" %>
        		<%= f.text_field :f_name, class: "form-control col-2 ml-3", placeholder: "名" %>
          </div>

          <div class="text-right">
      		  <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
      	<% end %>
      	</div>
      </div>

      <div class="row justify-content-center mt-2">
        <div class = "col-sm-7">
      <table class="table table-borderless table-hover mt-5">
        <thead>
         <tr class="red-border">
           <th>郵便番号</th>
           <th>住所</th>
           <th>宛名</th>
           <th></th>
         <tr>
        </thead>

       <tbody>
      <% @address.each do |address| %>
      <tr class="brown-border">
       	<td><%= address.post_code %></td>
       	<td><%= address.address %></td>
       	<td><%= address.l_name %><%= address.f_name %></td>
       	<td><%= link_to "編集する", edit_address_path(address),  class: "btn btn-sm btn-outline-danger" %>
            <%= link_to "削除する", address_path(address), method: :delete ,data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
          </td>
       </tr>
    <% end %>
       </tbody>
      </table>
    </tr>
  </tr>
  </thead>
  </table>
  </div>
  </div>


   </div>
</div>